#principal {
    float: none;
    margin: 0 auto;
    padding-left: 20px;
    padding-right:20px;
} 

h3 {
    border-bottom: 1px solid;
}

form {
    color: #007AA6;
}

.error {
    color: red;
    font-size: 0.8em;
    display: block;
}
